html,body {
    height:100%;
}



.informationContainer {
    margin: auto;
    width: 100%;
    border: 1px solid black;
    margin:10px 0px 10px 0px;
    padding: 10px;
    background: green;

}
    

.informationWelcome{
	border: 3px solid blue;
	
	
}

.informationWelcome div{
	text-align: center;
	color: red;
}

.informationWelcome p{
	color: black;
	
}



.informationLogin{
	text-align: right;
	border: 3px solid red;
	color: blue;
	
}






.informationContainerBienvenida {
    color: black;

}






.informationContainer p {
    color: brown;
	text-align: left;
}







.informationWelcome p{
	color: orange;
	text-align: center;
}




/***************************HEADER CONTAINER***************************/
.headerContainer {
    margin: auto;
    width: 100%;
    border: 1px solid black;
    margin:10px 0px 10px 0px;
    padding: 10px;
    background: yellow;

}


.headerContainer div {
	text-align: right;
	color: blue;
}


/****************************MENU CONTAINER****************************/
.horizontalMenuContainer {
	margin: auto;
	width: 100%;
	border: 1px solid black;
	margin:10px 0px 10px 0px;
	padding: 10px;
	background: orange;
}


.horizontalMenuContainer div {
	text-align: center;
	color: black;
}



/**************************CONTENIDO CONTAINER**************************/

.contenidoContainer {
	margin: auto;
	width: 100%;
	border: 1px solid black;
	margin:10px 0px 10px 0px;
	padding: 10px;
	background: orange;
}


.contenidoContainer div {
	text-align: center;
	color: black;
}




/***************************FOOTER CONTAINER***************************/

.footerContainer {
	margin: auto;
	width: 100%;
	border: 1px solid black;
	margin:10px 0px 10px 0px;
	padding: 10 px;
	background: orange;
}


.footerContainer div {
	text-align: right;
	color: black;
}






















.red {
	background: red;
	height: 200 px;
	
}


.orange {
	background: orange;
	height: 200 px;
	
}

.blue {
	background: blue;
	height: 200 px;
	
}




.headerss {        
    display:block;
    background:#eee;
    padding:10px 0px;
    color:red;
    text-align: center;
    
}


/*
.headerContainer { 
	background: #fff;
	
	border-width: 100 %;
	border-style: solid;
	
	border-color: red;
	
	
}

.headerContainer_h1 {
	font-size: 100;
	font-style: italic;
	font-weight: bold;
	color: black;
}*/


.menuHorizontalContainer {
	background: #ccc;
}



.contenidoContainer {
	background: #ddd;
}


.footerContainer {
	background: #eee;
}



.div {
    width: 100%;
    border: 1px solid black;
    padding: 25px;
    margin: 25px;
}
